[Unit]
Description=Widgets by Brian Kane

[Service]
Type=simple
ExecStart=<full_path_to_repository>/kane-widgets/venv/bin/python3 <full_path_to_repository>/kane-widgets/main.py
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target