[Unit]
Description=Widgets by Brian Kane

[Service]
Type=simple
ExecStart=/home/phillipstearns/kane-widgets/venv/bin/python3 /home/phillipstearns/kane-widgets/main.py
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target