[Unit]
Description=Chromium Kiosk for Widgets

[Service]
Type=simple
User=<user>
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --start-maximized 'http://localhost'
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target