.swiper {
  background-color: black;
  width: 100vh;
  height: 100vh;
}

.swiper-slide {
  overflow: hidden;
}

/* clock specific */

.clock-bg {
  padding: 0;
  background-color: black;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
/*  touch-action: none;*/
}

.no-select {
/*  user-select: none;*/
}

.fade-in {
  animation: fadeIn 0.5s;
}

/* Global */

@keyframes fadeIn {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
/*  user-select: none;*/
/*  touch-action: none;*/
}

@keyframes fadeIn {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}