<!doctype html>
<html lang="en" draggable="false" inert>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loading... Clock</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/styles.css">
  </head>

  <body draggable="false" inert>

    <main id="clock" class="min-vh-100 m-0 p-0 d-flex position-relative" draggable="false">

      <div id="center" class="position-absolute top-50 start-50 translate-middle" draggable="false">
      </div>

    </main>

    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/app.js"></script>
    
  </body>
</html>