<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kane Widgets</title>

    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/swiper-bundle.css" rel="stylesheet">
    <link href="./static/css/mobiscroll.javascript.min.css" rel="stylesheet">
    <link href="./static/css/styles.css" rel="stylesheet">

  </head>

  <body id="frame" class="m-auto">
    <!-- https://swiperjs.com/ -->
    <!-- Slider main container -->
    <div class="swiper">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            <div id="spinner-container" class="position-absolute top-50 start-50 translate-middle">
              <img id="spinner" class="fade-in" src="./static/media/WaitingDiscOnlyLarge2.png">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            <div id="clock" class="position-absolute top-50 start-50 translate-middle">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            <div id="moon" class="position-absolute top-50 start-50 translate-middle">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
            <div id="spinner-container" class="w-100 position-absolute top-50 start-50 translate-middle">
                <div id="datetimebk"></div>
              </div>
            <div id="spinner-container" class="position-absolute bottom-0 start-50 translate-middle-x">
              <img id="bk-signature" src="./static/media/bk-signature.png">
          </div>
        </div>

      </div>

      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <!-- <div class="swiper-button-prev"></div> -->
      <!-- <div class="swiper-button-next"></div> -->

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->

    </div>

    <!-- Javascript Files -->
    <!-- Vendor -->
    <script type="text/javascript" src="./static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="./static/js/swiper-bundle.js"></script>
    <script type="text/javascript" src="./static/js/suncalc.js"></script>
    <script type="text/javascript" src="./static/js/mobiscroll.javascript.min.js"></script>


    <!-- Custom/Core -->
    <script type="text/javascript" src="./static/js/common.js"></script>
    <script type="text/javascript" src="./static/js/spinner.js"></script>
    <script type="text/javascript" src="./static/js/clock.js"></script>
    <script type="text/javascript" src="./static/js/moon.js"></script>
    <script type="text/javascript" src="./static/js/datetime.js"></script>
    

  </body>

</html>
