<!doctype html>
<html>
<head>

  <title>WebGL Moon Demo</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="Photorealistic 3D Moon Demo in WebGL using satellite imagery." />
  
  <!-- Allow fullscreen app install in Android and IOS respectively -->
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <!-- Import external stylesheets -->
  <link type="text/css" href="css/main.css" rel="stylesheet" />

</head>
<body>

  <div id="container"></div>


  <!-- Include Three.JS scene controller script -->
  <script type="text/javascript" src="js/index.js"></script>

  <noscript>
    <p>You need javascript enabled in order to use this web application.</p>
  </noscript>
</body>
</html>
