<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Touchy</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/touchy-styles.css">
  </head>

  <body id="target">
    
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true" data-bs-interval="9000000000">
      <div class="carousel-inner">

        <!-- ONE -->
        <div class="carousel-item active">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            
            <div class="position-absolute top-50 start-50 translate-middle">
              ONE
            </div>

            <div class="position-absolute top-50 start-50 translate-middle">
              <div id="container-1"></div>
            </div>
          </div>
        </div>

        <!-- TWO -->
        <div class="carousel-item">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
              TWO
              <div id="container-2"></div>
            </div>
          </div>
        </div>

        <!-- THREE -->
        <div class="carousel-item">
          <div class="min-vh-100 m-0 p-0 d-flex position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
              THREE
              <div id="container-3"></div>
            </div>
          </div>
        </div>

      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="visually-hidden">Previous</span>
      </button>
      
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="./static/js/three.min.js"></script>

    <script src="./static/js/common.js"></script>
    <script src="./static/js/touchy.js"></script>

  </body>

</html>